#logs {
  text-align: center;
  color: var(--white);
  transition: all cubic-bezier();
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logs p {
  margin-bottom: 0.5rem;
  animation: slideDown 0.3s ease-out;
  position: relative;
}

.last-log::before {
  content: "→";
  position: absolute;
  font-size: 1.5rem;
  color: var(--white);
  left: -35px;
  top: 50%;
  transform: translateY(calc(-50% - 0.1rem));
}

#logs span {
  font-weight: bold;
  font-style: italic;
  font-size: 1.2rem;
}

.turn-X-style span {
  color: var(--pink);
}

.turn-O-style span {
  color: var(--light-blue);
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
