.player-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0.4rem 0.8rem;
  min-width: 100px;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border: 2px solid black;
}

.player-container.active {
  background-color: rgba(var(--black));
  color: var(--white);
  animation: pulse 1.1s linear infinite;
}

.player-container.active button {
  border: 2px solid var(--white);
}

.player-identity {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: bold;
  gap: 0.4rem;
}

.player-name,
.player-symbol {
  text-transform: uppercase;
  padding: 10px 5px;
  font-weight: bold;
}

.player-name {
  width: 100px;
}

.player-container button {
  padding: 5px;
  border: 2px solid rgba(var(--black));
  background-color: rgba(var(--black));
  cursor: pointer;
  color: var(--white);
}

.player-container input {
  border: 2px solid rgba(var(--black));
  background-color: var(--white);
  padding: 10px 5px;
  width: 100px;
}

@media screen and (min-width: 768px) {
  .player-container {
    padding: 1rem;
    gap: 2rem;
  }

  .player-identity {
    gap: 1rem;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    border-color: var(--yellow);
    box-shadow: 0 0 2px 0 rgba(246, 227, 90, 0.4);
  }
  50% {
    transform: scale(1.01);
    border-color: #e9c15a;
    box-shadow: 0 0 2px 12px rgba(248, 165, 49, 0);
  }
  100% {
    transform: scale(1);
    border-color: var(--yellow);
    box-shadow: 0 0 2px 0 rgba(246, 227, 90, 0);
  }
}
