:root {
  --primary: #5f7470;
  --secondary: #31393c;
  --yellow: #f7ec59;
  --black: #000000;
  --white: #ffffff;
}

#container {
  background-color: var(--secondary);
  height: 100vh;
}

#game-container {
  margin: 1rem 1rem;
  background-color: var(--primary);
}

#players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.5rem 0;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  #game-container {
    max-width: 70%;
    margin: 2rem auto;
  }
}

@media screen and (min-width: 1024px) {
  #game-container {
    max-width: 50%;
  }
}
