:root {
  --primary: #5f7470;
  --secondary: #31393c;
  --yellow: #f7ec59;
  --black: 0, 0, 0;
  --white: #ffffff;
  --pink: #ff66d8;
  --light-blue: #33a1fd;
}

#container {
  background-color: var(--secondary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#game-container {
  position: relative;
  width: calc(100% - 2rem);
  max-width: 100%;
  margin: 1rem auto;
  background-color: var(--primary);
}

#players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.5rem 0;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  #game-container {
    max-width: 70%;
    margin: 2rem auto;
  }
}

@media screen and (min-width: 1024px) {
  #game-container {
    max-width: 50%;
  }
}
